.btn {
  display: inline-flex;
  width: 100%;
  margin: 0 0 24px;
  padding: 18px;
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: $color-default-white;
  background-color: $color-red;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  svg {
    fill: black;
  }

  @include hover-focus {
    background-color: $color-speech-red;
  }
}
