.feedback {
  &__form {
    flex-shrink: 0;
    width: 400px;

    @include vp-767 {
      width: 100%;
    }
  }

  &__rules {
    align-self: center;
    padding: 22px 24px 19px 28px;
    border-radius: 10px;
    background: rgba($color-red, 0.03);
    box-shadow: 0px 0px 50px 0px rgba($color-default-black, 0.10);
    font-size: 10px;
    line-height: 15px;

    p {
      margin: 0 0 3px;
    }

    ul {
      margin: 0 0 10px;
      padding-left: 20px;
    }
  }
}



